/**HMTL**/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    padding-top: 78px;
}

/**HEADER**/
header {
    position: fixed; /*To fix the navigation bar et the top*/
    background-color: rgb(88, 1, 1);
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header a {
    margin-left: 30px;
    text-decoration: none;
    font-weight: 300;
    color: rgb(40, 122, 204);
    font-weight: bold;
}

header span {
    color: green;
}

.homepage {
    font-size: xx-large;
}

.navbar {
    list-style: none;
    position: relative;
    display: flex;
    font-size: large;
}

.navbar a:hover {
    color: white;
    transition: ease-out 0.5s;
}


/**HOMEPAGE**/
.home {
    width: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    position: relative;
    background-image: url('Resources/cousson_modif.jpg');
}

.home h1 {
    top:20%;
    left:35%;
    position: absolute;
    color: black;
    padding: 20px;
    background-color: white;
    width: 35%;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
    margin-bottom: 10px;
}

.home p {
    top:55%;
    left:15%;
    position: absolute;
    color: black;
    width:75%;
    background-color: white;
    padding:5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
}

/**ABOUT ME**/
.me {
    background-color: rgb(199, 84, 8);
    color: white;
    padding: 50px;
    text-align: center;
    display:flex;
}

.aboutme p {
    margin-top: 5%;
}

.aboutphoto img {
    margin-left: 10%;
    height: 300px;
    flex-direction: column;
    border-radius: 100px;
}

/**CV**/

.cv {
    background-color: rgb(9, 116, 9);
    color: white;
    padding: 50px;
    text-align: center;
    display: flex;
    align-items: center; /* Centrer verticalement le contenu */
}

.cv_text {
    flex: 1; /* Permet au contenu de s'étendre sur toute la hauteur disponible */
    text-align: center; /* Aligner le texte à gauche ou à droite selon votre besoin */
}

.cv_text h2 {
    margin-bottom: 5%;
}

.cv_render embed {
    margin-right: 30px;
    width: 500px;
    height: 700px;
}

.cv a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

