/**HMTL**/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    padding-top: 78px;
}

/**HEADER**/
header {
    position: fixed; /*To fix the navigation bar et the top*/
    background-color: rgb(88, 1, 1);
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header a {
    margin-left: 30px;
    text-decoration: none;
    font-weight: 300;
    color: rgb(40, 122, 204);
    font-weight: bold;
}

header span {
    color: green;
}

.homepage {
    font-size: xx-large;
}

.navbar {
    list-style: none;
    position: relative;
    display: flex;
    font-size: large;
}

.navbar a:hover {
    color: white;
    transition: ease-out 0.5s;
}


/**HOMEPAGE**/
.home {
    width: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    position: relative;
    background-image: url('Resources/cousson.jpg');
}

.home h1 {
    color: black;
    padding: 20px;
    background-color: white;
    width: 50%;
    margin: auto;
    top: 50%;
    left: 50%;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
}

/**ABOUT ME**/
.me {
    background-color: rgb(199, 84, 8);
    color: white;
    padding: 50px;
    text-align: center;
}